# Hugo default output directory
.Rproj.user
.Rhistory
.RData
.Ruserdata
/public

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store

# more
.hugo_build.lock
**/tmp*/
