    </div>
    {{ partial "footer_highlightjs" . }}

<script src="{{ "/js/marked.min.js" | relURL }}"></script>
<script src="{{ "/js/lexer.js" | relURL }}"></script>
<script src="{{ "/js/parser.js" | relURL }}"></script>
<script src="{{ "/js/converter.js" | relURL }}"></script>
<script src="{{ "/js/macros.js" | relURL }}"></script>

<script>
	var slide = convert(document.getElementById("source").value);
	var content = document.getElementById("content");
	content.innerHTML += "<br>" + slide;
</script>

  </body>
</html>
