<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "head.html" . }}
    <link href="/libs/default.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        {{ partial "nav.html" . }}
      </header>

<body>
    <div style="margin:0 auto; max-width:1200px;">
        <div class="w3-sidebar w3-light-grey w3-bar-block left-column" >
            <h3 class="w3-bar-item">Tools</h3>
            {{ range (where .Site.RegularPages "Section" "==" "apps") }}
                <a href="{{ .RelPermalink }}" class="w3-bar-item w3-button">{{ .Name }}</a>
            {{ end }}
        </div>

        <div class="right-column">
            <h2>{{ .Title }}</h2>
